{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
        
        {% if user.is_authenticated %}
        <div class="center-align">
        <h3>Welcome, You are logged in as {{ user.username }}</h3><br><br><br><br>
        <a href="donate"><input type="button" class="btn btn-warning" value='Donate' ></a>
        <a href="logout"><input type="button" class="btn btn-warning" value='Logout' ></a>
        <a href="transaction"><input type="button" class="btn btn-warning" value='Transactions' ></a>
        </div>
        {% else %}
        <div class="col s12 m6 offset-m3 center-align">
            <h1> Login to Continue </h1>
            <a class="oauth-container btn darken-4 white black-text" href="{% provider_login_url 'google' %}" style="text-transform:none">
                <div class="left">
                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </div>
                Login with Google
            </a>
        </div>
        
        
        {% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


</body>
</html>